#root {
  background-color: floralwhite;
}

.main-banner .caption h6 {
  margin: auto;
  width: 50%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  letter-spacing: 0.5px;
  text-align: center;
  border-bottom: 0;
  margin-bottom: 0;
}

.main-banner .caption h2 {
  margin: auto;
  width: 50%;
  margin-top: 3em;
  font-size: 60px;
  font-weight: 800;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 0;
  margin-bottom: 0;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: white;
  font-weight: 900;
  border-bottom: 0;
  margin-bottom: 0;
}

.welcome-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/img/welcome-page.jpg");
  background-size: cover;
  height: calc(100vh - 7em);
}

.footer-height {
  height: 3em !important;
}

.header-height {
  height: 4em !important;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  margin: auto;
  width: 35%;
  padding: 10px;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
}

.register-card-margin {
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-container {
  padding: 2px 16px;
}

.form-btn {
  background-color: #e7bc91 !important;
  color: #333533 !important;
  border: 3px solid #e7bc91;
  border-radius: 5%;
  font-weight: bold;
}

.form-btn:hover {
  background-color: #333533 !important;
  color: #e7bc91 !important;
  border: 3px solid #e7bc91;
}

.not-found-text {
  text-align: center;
}

.app-logo {
  color: #333533 !important;
  font-weight: bold;
}

.nav-bg-color {
  background-color: #e7bc91 !important;
}

.nav-btn {
  background-color: #333533 !important;
  color: #e7bc91 !important;
  border: 3px solid #e7bc91;
  border-radius: 5%;
  font-weight: bold;
  margin: 5px;
}

.nav-btn:hover {
  background-color: #e7bc91 !important;
  color: #333533 !important;
  border: 3px solid #333533;
}

.form-txt-color {
  color: #333533;
}

.form-txt-labels {
  color: #e7bc91;
  font-weight: bold;
}

.font-weight-bold {
  font-weight: bold !important;
}

.user-email {
  background-color: white !important;
  color: #333533 !important;
  border: 3px solid #333533;
  border-radius: 5%;
  font-weight: bold;
  margin: 5px;
}

.txt-color-brown {
  color: #e7bc91;
}

.forms-warnings-hide {
  display: none;
}

.active-nav-btns {
  background-color: #e7bc91 !important;
  color: #333533 !important;
  border: 3px solid #333533;
}
.courses-img {
  width: 24em;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.courses-card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  margin: auto;
  padding: 10px;
  width: 60%;
  margin-top: 4em;
  background-color: white;
}

.clients-card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  margin: auto;
  padding: 10px;
  width: 50%;
  margin-top: 4em;
  background-color: white;
}

.week-card-width {
  width: 60% !important;
}

.join-course-form-width {
  width: 40% !important;
}

.courses-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
}

.clients-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
}

.container-margin-top {
  margin-top: 2em;
  margin-bottom: 2em;
}

.courses-card-title {
  background-color: #e7bc91 !important;
  color: #333533 !important;
  width: max-content;
  padding: 5px;
}

.max-content-length {
  max-width: max-content;
}

.description-txt {
  font-weight: 600;
}

.consultation-call {
  text-decoration: none;
  color: #e7bc91;
}

.consultation-call:hover {
  color: #333533;
}

.edit-delete-btns {
  color: #333533;
  cursor: pointer;
}

.edit-delete-btns:hover {
  color: #e7bc91;
}

.add-btns {
  margin-right: 2em;
}

.client-card-title {
  background-color: #e7bc91 !important;
  color: #333533 !important;
  padding: 5px;
  width: max-content;
  margin: auto !important;
  margin-bottom: 1em !important;
  margin-top: 1em !important;
}

.margin-right-icon {
  margin-right: 1em;
}

.add-week-form-width {
  width: 45% !important;
}

.add-course-form-width {
  width: 45% !important;
}
